@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
    --color-primiario: #F3F5FC;
    --color-secundario: #0A3871;
    --color-terciario: #D8DFE8;
    --color-quinto: #FFFFFF;
    --color-sexto: #495057;
    --color-blue: #0A3871;
    --fuente-inter: "Inter", sans-serif;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--color-primiario);
    min-height: 100vh; /* Asegura que el cuerpo ocupe como mínimo el alto de la pantalla */
    display: flex;
    flex-direction: column; /* Asegura que los elementos se alineen en columna */
}

.encabezado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secundario);
    color: var(--color-primiario);
    padding: 10px;
}

.logo {
    width: 70px;
    height: auto;
    margin-right: 25px;
}

.titulo {
    font-family: var(--fuente-inter);
    font-size: 30px;
    color: var(--color-primiario);
}

*::-webkit-scrollbar {
	-webkit-appearance: none;
}
*::-webkit-scrollbar:vertical {
	width: 8px;
	background: none;
}
*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
	display: none;
}
*::-webkit-scrollbar:horizontal {
	height: 5px;
	background: none;
	border-radius: 100px;
}
*::-webkit-scrollbar-thumb {
	background-color: var(--color-blue);
	border-radius: 20px;
	border: none;
}
*::-webkit-scrollbar-track {
	border-radius: 500px;
}

.outer-container {
    margin-top: 20px;
    margin-block-end: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

.left-column, .right-column {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right-column{
    background-color: var(--color-terciario);
    border-radius: 32px;
    padding: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-area {
    min-width: 100px;
    min-height: 350px;
    margin-bottom: 100px;
    border: none;
    padding: 1px;
    resize: none;
    background-color: var(--color-primiario);
    font-family: var(--fuente-inter);
    font-size: 36px;
    color:var(--color-blue);
}

.right-image {
    min-width: 230px;
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centra la imagen horizontalmente */
}

.output-area {
    width: 100%; /* Asegura que el textarea use el 100% del ancho del contenedor */
    max-width: 600px; /* Ajusta el máximo ancho según tus necesidades */
    height: 100px;
    margin: 0 auto; /* Centra el textarea horizontalmente */
    border: none;
    padding: 10px;
    resize: none;
    background-color: var(--color-terciario);
    font-family: var(--fuente-inter);
    font-size: 36px;
    color: var(--color-secundario);
    text-align: center; /* Centra el texto dentro del textarea */
}
.input-area::placeholder {
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-size: 30px;
}

.output-area::placeholder {
    color: var(--color-secundario);
    font-family: var(--fuente-inter);
    font-size: 30px;
    text-align: center;
}

.buttons, .action-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: 16px;
    color: var(--color-sexto);
}

.encrypt-button, .decrypt-button, .copy-button, .reset-button {
    width: 45%;
    max-width: 328px;
    min-width: 160px;
    height: 67px;
    font-family: var(--fuente-inter);
    font-size: 20px;
    font-weight: bold;
    border-radius: 24px;
    border: none;
    outline: 1px solid var(--color-secundario);
    color: var(--color-secundario);
    background-color: var(--color-quinto);
}

.encrypt-button {
    background-color: var(--color-secundario);
    color: var(--color-primiario);
}

.decrypt-button {
    background-color: var(--color-quinto);
    color: var(--color-secundario);
    border: var(--color-secundario) solid 1px;
}

.copy-button {
    background-color: var(--color-secundario);
    color: var(--color-primiario);
}

.reset-button {
    background-color: var(--color-quinto);
    border: var(--color-secundario) solid 1px;
    color: var(--color-secundario);
}

#bn_reiniciar, #bn_copiar{
    display:none;
}
.message {
    margin-bottom: 10px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    color: var(--color-sexto);
    text-align: center;
}

.footer {
    text-align: center;
    padding: 2px;
    background-color: var(--color-quinto);
    border-top: 1px solid var(--color-primiario);
    font-family: var(--fuente-inter);
    font-size: 24px;
    color: var(--color-secundario);

}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .outer-container {
        height: auto; /* Permite que la altura se ajuste automáticamente en pantallas pequeñas */
    }

    .container, .botonesDos {
        flex-direction: column; /* Cambia la disposición a columna en pantallas pequeñas */
       
    }

    .left-column, .right-column {
        width: 100%; /* Asegura que ambas columnas ocupen el 100% del ancho en pantallas pequeñas */
        margin: 0; /* Elimina el margen para que las columnas se alineen sin espacio entre ellas */
        height: auto; /* Permite que la altura se ajuste automáticamente en pantallas pequeñas */
    }

    .buttons, .botonesDos {
        flex-direction: column; /* Alinea los botones en columna */
        gap: 10px; /* Espacio entre botones */
        justify-content: center; /* Centra los botones horizontalmente */
        
    }

    .encrypt-button, .decrypt-button, .copy-button {
        width: auto; /* Ancho automático para los botones */
        max-width: none; /* Sin límite en el ancho máximo */
    
    }
}
